a {
    text-decoration: none;
}

.inline {
    display: inline-block;
}

.card {
    border: 2px solid #ccc;
    background-color: #ffffff;
    padding: 5px 5px 5px 5px;
}

.card-body {
    margin-bottom: 15px;
}

.card-icon {
    float: right;
}

.card-body-value {
    float: right;
    margin-right: 0px;
}

.anti-gradient_-10  {fill: #57bb8a;}
.anti-gradient_-9   {fill: #63b682;}
.anti-gradient_-8   {fill: #73b87e;}
.anti-gradient_-7   {fill: #84bb7b;}
.anti-gradient_-6   {fill: #94bd77;}
.anti-gradient_-5   {fill: #a4c073;}
.anti-gradient_-4   {fill: #b0be6e;}
.anti-gradient_-3   {fill: #c4c56d;}
.anti-gradient_-2   {fill: #d4c86a;}
.anti-gradient_-1   {fill: #e2c965;}
.anti-gradient_0    {fill: #f5ce62;}
.anti-gradient_1    {fill: #f3c563;}
.anti-gradient_2    {fill: #e9b861;}
.anti-gradient_3    {fill: #e6ad61;}
.anti-gradient_4    {fill: #ecac67;}
.anti-gradient_5    {fill: #e9a268;}
.anti-gradient_6    {fill: #e79a69;}
.anti-gradient_7    {fill: #e5926b;}
.anti-gradient_8    {fill: #e2886c;}
.anti-gradient_9    {fill: #e0816d;}
.anti-gradient_10   {fill: #dd776e;}